* {
  font-family: 'Helvetica', Sans-Serif;
}

p {
  color: #5c5c5c;
  font-weight: 100;
}

#navigation-bar {
  background-color: white;
  position: fixed;
  height: 80px;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
  box-shadow: 0 0 4px 0 black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.nav-left {
  font-size: 20px;
}

.nav-left p {
  color: #000000;
}

.logo {
  width: 60px;
  filter: none;
  position: fixed;
  margin-top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-right li {
  display: inline;
  margin-left: 10px;
}

.nav-right a {
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  color: #000000;
}

.nav-right a:hover {
  background-color: black;
  padding: 8px 20px;
  color: #fff;
  border-radius: 50px;
  transition: 0.4s ease-in-out;
}

.selfie {
  filter: drop-shadow(3px 3px 3px #969696);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
  line-height: 0.8;
  font-size: 120px;
  font-weight: 500;
}

.first-line {
  margin-top: 300px;
}

.horizontal-line {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  margin-top: 20px;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #fff;
  text-align: center;
  padding: 30px, 20px;
}

.box-container .box img {
  height: 100px;
  margin-top: 30px;
}

.box-container .box h3 {
  color: #000000;
  font-size: 22px;
  padding: 10px 0;
}

.box-container .box p {
  color: #5c5c5c;
  font-size: 15px;
  line-height: 1.5;
}

.box-container .box .button {
  margin-top: 10px;
  display: inline-block;
  background: white;
  color: black;
  font-size: 17px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
  border-radius: 50px;
  padding: 10px 25px;
  margin-bottom: 40px;
}

.box-container .box .button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}

footer {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 0.9rem;
  color: rgb(186, 186, 186);
}

.heading-one {
  margin-top: 200px;
  margin-bottom: 30px;
}

.heading-one1 {
  margin-top: 140px;
}

.te-houtaewa-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 70px;
}

.date {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.para1,
.para2,
.para3 {
  display: block;
  width: 70%;
  margin: auto;
}

.para3 {
  margin-bottom: 50px;
}

.text-center {
  text-align: center;
}
.return-button {
  display: inline-block;
  background: white;
  color: black;
  font-size: 17px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
  border-radius: 50px;
  padding: 10px 25px;
  margin-top: 60px;
}

.return-button:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

.second-title {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 50px;
}

.margin-code {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

#margin-images {
  text-align: center;
  margin-top: 50px;
}

.mbp-description {
  display: block;
  width: 70%;
  margin: auto;
}

.box-model {
  display: block;
  margin: 20px auto 5px auto;
  width: 1000px;
}

.padding1,
.border1,
.margin1,
.conclusion1,
.order {
  display: block;
  width: 70%;
  margin: auto;
}

.padding,
.border,
.margin,
.conclusion {
  padding: 20px 0;
  display: block;
  width: 70%;
  margin: auto;
}

.writing-content .padding,
.writing-content .border,
.writing-content .margin {
  margin-top: 40px;
}

.conclusion {
  margin-top: 40px;
}

.conclusion1 {
  line-height: 1.4;
}

.writing-content h2,
.writing-content p {
  display: block;
  width: 70%;
  margin: auto;
}

.writing-content .heading-two {
  margin-top: 100px;
}

.writing-content p {
  line-height: 1.4;
}

.analogy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

.links {
  color: #5c5c5c;
}
.links:hover {
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .te-houtaewa-photo {
    width: 90%;
  }
  .second-title {
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .box-model {
    width: 500px;
  }
  .conclusion1 {
    width: 70%;
  }
}

@media screen and (max-width: 1600px) {
  .margin-code {
    height: 330px;
  }
  .box-model {
    width: 900px;
  }
}

@media screen and (max-width: 1300px) {
  .margin-code {
    height: 250px;
  }
  .box-model {
    width: 700px;
  }
}

@media screen and (max-width: 1000px) {
  .margin-code {
    height: 200px;
  }
  .box-model {
    width: 70%;
  }
  .analogy {
    width: 72%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .first-line {
    font-size: 80px;
    margin-top: 230px;
  }
  .selfie {
    width: 140px;
  }
  .logo {
    width: 50px;
  }
  .margin-code {
    width: 70%;
    height: auto;
  }
  .heading-one,
  .heading-one1 {
    font-size: 100px;
  }
}

@media screen and (max-width: 650px) {
  .heading-one,
  .heading-one1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    margin-left: -5px;
    width: 40px;
    left: 53px;
  }
  .nav-left {
    display: none;
  }
  .nav-right a:hover {
    padding: 5px 10px;
    border-radius: 20px;
  }
  .nav-right a {
    font-size: 18px;
  }
  .nav-right {
    margin-left: auto;
    margin-right: -10px;
  }
  .first-line {
    font-size: 65px;
  }
  .box-container .box img {
    height: 80px;
  }
  .heading-one,
  .heading-one1 {
    font-size: 60px;
  }
  .box-model {
    width: 90%;
  }
  .analogy {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .heading-one {
    text-align: left;
    margin-left: 20px;
    margin-top: 150px;
  }

  .heading-one1 {
    text-align: left;
    margin-left: 20px;
    margin-top: 100px;
  }
  .writing-content h2,
  .writing-content p {
    display: block;
    width: 90%;
    margin: auto;
  }
  .writing-content .heading-two {
    margin-top: 60px;
  }
  .second-title,
  .subtitle {
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
  }
  .writing-content .mbp-description,
  .padding1,
  .border1,
  .margin1,
  .conclusion1,
  .order,
  .para1,
  .para2,
  .para3 {
    text-align: left;
    margin-left: 20px;
  }
  .writing-content .padding,
  .border,
  .margin,
  .conclusion,
  .date {
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
  }
  .conclusion1 {
    text-align: left;
    margin-left: 20px;
    line-height: 1.4;
    width: 90%;
  }
  .te-houtaewa-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    margin-bottom: -20px;
  }
  .writing-content .mbp-description {
    margin-top: 30px;
  }
}
